models/
models/**
.models/
.models/**

.venv/**
.obsidian/**
.archive/**

exports/**
exports/

.archive/**
.archive/


*.pt

#.references/**
# .docs/**

config/
config/**

results/
results/**
results/output_luna.mp4

uv.lock

data/**
data/
.data/
.data/**
.data/videos/**

results/
results/**
.results/
.results/**

.runs/
.runs/**
runs/
runs/**

.pytest_cache/**

.agents.md
.readme.md
.claude.md
data/videos/vador3.mp4
.docs/.obsidian/app.json
.docs/.obsidian/appearance.json
.docs/.obsidian/community-plugins.json
.docs/.obsidian/core-plugins.json
.docs/.obsidian/workspace.json
.docs/.obsidian/plugins/obsidian-style-settings/data.json
.docs/.obsidian/plugins/obsidian-style-settings/main.js
.docs/.obsidian/plugins/obsidian-style-settings/manifest.json
.docs/.obsidian/plugins/obsidian-style-settings/styles.css
.docs/.obsidian/themes/AnuPpuccin/manifest.json
.docs/.obsidian/themes/AnuPpuccin/theme.css
calibration_data/**

.venv/**
.venv/

.pytest_cache/
.pytest_cache/**

.obsidian/**
.obsidian/

.results/**
.results/