models/
models/**
.models/
.models/**

.venv/**
.obsidian/**
.archive/**

exports/**
exports/

*.pt

#.references/**
# .docs/**

config/
config/**

results/
results/**
results/output_luna.mp4

uv.lock

data/**
data/
.data/
.data/**
.data/videos/**

results/
results/**
.results/
.results/**

.runs/
.runs/**
runs/
runs/**

.pytest_cache/**

.agents.md
.readme.md
.claude.md
data/videos/vador3.mp4
.docs/.obsidian/app.json
.docs/.obsidian/appearance.json
.docs/.obsidian/community-plugins.json
.docs/.obsidian/core-plugins.json
.docs/.obsidian/workspace.json
.docs/.obsidian/plugins/obsidian-style-settings/data.json
.docs/.obsidian/plugins/obsidian-style-settings/main.js
.docs/.obsidian/plugins/obsidian-style-settings/manifest.json
.docs/.obsidian/plugins/obsidian-style-settings/styles.css
.docs/.obsidian/themes/AnuPpuccin/manifest.json
.docs/.obsidian/themes/AnuPpuccin/theme.css
calibration_data/preprocessed_320/frame_0000.npy
calibration_data/preprocessed_320/frame_0001.npy
calibration_data/preprocessed_320/frame_0002.npy
calibration_data/preprocessed_320/frame_0003.npy
calibration_data/preprocessed_320/frame_0004.npy
calibration_data/preprocessed_320/frame_0005.npy
calibration_data/preprocessed_320/frame_0006.npy
calibration_data/preprocessed_320/frame_0007.npy
calibration_data/preprocessed_320/frame_0008.npy
calibration_data/preprocessed_320/frame_0009.npy
calibration_data/preprocessed_320/frame_0010.npy
calibration_data/preprocessed_320/frame_0011.npy
calibration_data/preprocessed_320/frame_0012.npy
calibration_data/preprocessed_320/frame_0013.npy
calibration_data/preprocessed_320/frame_0014.npy
calibration_data/preprocessed_320/frame_0015.npy
calibration_data/preprocessed_320/frame_0016.npy
calibration_data/preprocessed_320/frame_0017.npy
calibration_data/preprocessed_320/frame_0018.npy
calibration_data/preprocessed_320/frame_0019.npy
calibration_data/preprocessed_320/frame_0020.npy
calibration_data/preprocessed_320/frame_0021.npy
calibration_data/preprocessed_320/frame_0022.npy
calibration_data/preprocessed_320/frame_0023.npy
calibration_data/preprocessed_320/frame_0024.npy
calibration_data/preprocessed_320/frame_0025.npy
calibration_data/preprocessed_320/frame_0026.npy
calibration_data/preprocessed_320/frame_0027.npy
calibration_data/preprocessed_320/frame_0028.npy
calibration_data/preprocessed_320/frame_0029.npy
calibration_data/preprocessed_320/frame_0030.npy
calibration_data/preprocessed_320/frame_0031.npy
calibration_data/preprocessed_320/frame_0032.npy
calibration_data/preprocessed_320/frame_0033.npy
calibration_data/preprocessed_320/frame_0034.npy
calibration_data/preprocessed_320/frame_0035.npy
calibration_data/preprocessed_320/frame_0036.npy
calibration_data/preprocessed_320/frame_0037.npy
calibration_data/preprocessed_320/frame_0038.npy
calibration_data/preprocessed_320/frame_0039.npy
calibration_data/preprocessed_320/frame_0040.npy
calibration_data/preprocessed_320/frame_0041.npy
calibration_data/preprocessed_320/frame_0042.npy
calibration_data/preprocessed_320/frame_0043.npy
calibration_data/preprocessed_320/frame_0044.npy
calibration_data/preprocessed_320/frame_0045.npy
calibration_data/preprocessed_320/frame_0046.npy
calibration_data/preprocessed_320/frame_0047.npy
calibration_data/preprocessed_320/frame_0048.npy
calibration_data/preprocessed_320/frame_0049.npy
calibration_data/preprocessed_320/frame_0050.npy
calibration_data/preprocessed_320/frame_0051.npy
calibration_data/preprocessed_320/frame_0052.npy
calibration_data/preprocessed_320/frame_0053.npy
calibration_data/preprocessed_320/frame_0054.npy
calibration_data/preprocessed_320/frame_0055.npy
calibration_data/preprocessed_320/frame_0056.npy
calibration_data/preprocessed_320/frame_0057.npy
calibration_data/preprocessed_320/frame_0058.npy
calibration_data/preprocessed_320/frame_0059.npy
calibration_data/preprocessed_320/frame_0060.npy
calibration_data/preprocessed_320/frame_0061.npy
calibration_data/preprocessed_320/frame_0062.npy
calibration_data/preprocessed_320/frame_0063.npy
calibration_data/preprocessed_320/frame_0064.npy
calibration_data/preprocessed_320/frame_0065.npy
calibration_data/preprocessed_320/frame_0066.npy
calibration_data/preprocessed_320/frame_0067.npy
calibration_data/preprocessed_320/frame_0068.npy
calibration_data/preprocessed_320/frame_0069.npy
calibration_data/preprocessed_320/frame_0070.npy
calibration_data/preprocessed_320/frame_0071.npy
calibration_data/preprocessed_320/frame_0072.npy
calibration_data/preprocessed_320/frame_0073.npy
calibration_data/preprocessed_320/frame_0074.npy
calibration_data/preprocessed_320/frame_0075.npy
calibration_data/preprocessed_320/frame_0076.npy
calibration_data/preprocessed_320/frame_0077.npy
calibration_data/preprocessed_320/frame_0078.npy
calibration_data/preprocessed_320/frame_0079.npy
calibration_data/preprocessed_320/frame_0080.npy
calibration_data/preprocessed_320/frame_0081.npy
calibration_data/preprocessed_320/frame_0082.npy
calibration_data/preprocessed_320/frame_0083.npy
calibration_data/preprocessed_320/frame_0084.npy
calibration_data/preprocessed_320/frame_0085.npy
calibration_data/preprocessed_320/frame_0086.npy
calibration_data/preprocessed_320/frame_0087.npy
calibration_data/preprocessed_320/frame_0088.npy
calibration_data/preprocessed_320/frame_0089.npy
calibration_data/preprocessed_320/frame_0090.npy
calibration_data/preprocessed_320/frame_0091.npy
calibration_data/preprocessed_320/frame_0092.npy
calibration_data/preprocessed_320/frame_0093.npy
calibration_data/preprocessed_320/frame_0094.npy
calibration_data/preprocessed_320/frame_0095.npy
calibration_data/preprocessed_320/frame_0096.npy
calibration_data/preprocessed_320/frame_0097.npy
calibration_data/preprocessed_320/frame_0098.npy
calibration_data/preprocessed_320/frame_0099.npy
calibration_data/preprocessed_320/frame_0100.npy
calibration_data/preprocessed_320/frame_0101.npy
calibration_data/preprocessed_320/frame_0102.npy
calibration_data/preprocessed_320/frame_0103.npy
calibration_data/preprocessed_320/frame_0104.npy
calibration_data/preprocessed_320/frame_0105.npy
calibration_data/preprocessed_320/frame_0106.npy
calibration_data/preprocessed_320/frame_0107.npy
calibration_data/preprocessed_320/frame_0108.npy
calibration_data/preprocessed_320/frame_0109.npy
calibration_data/preprocessed_320/frame_0110.npy
calibration_data/preprocessed_320/frame_0111.npy
calibration_data/preprocessed_320/frame_0112.npy
calibration_data/preprocessed_320/frame_0113.npy
calibration_data/preprocessed_320/frame_0114.npy
calibration_data/preprocessed_320/frame_0115.npy
calibration_data/preprocessed_320/frame_0116.npy
calibration_data/preprocessed_320/frame_0117.npy
calibration_data/preprocessed_320/frame_0118.npy
calibration_data/preprocessed_320/frame_0119.npy
calibration_data/preprocessed_320/frame_0120.npy
calibration_data/preprocessed_320/frame_0121.npy
calibration_data/preprocessed_320/frame_0122.npy
calibration_data/preprocessed_320/frame_0123.npy
calibration_data/preprocessed_320/frame_0124.npy
calibration_data/preprocessed_320/frame_0125.npy
calibration_data/preprocessed_320/frame_0126.npy
calibration_data/preprocessed_320/frame_0127.npy
calibration_data/preprocessed_320/frame_0128.npy
calibration_data/preprocessed_320/frame_0129.npy
calibration_data/preprocessed_320/frame_0130.npy
calibration_data/preprocessed_320/frame_0131.npy
calibration_data/preprocessed_320/frame_0132.npy
calibration_data/preprocessed_320/frame_0133.npy
calibration_data/preprocessed_320/frame_0134.npy
calibration_data/preprocessed_320/frame_0135.npy
calibration_data/preprocessed_320/frame_0136.npy
calibration_data/preprocessed_320/frame_0137.npy
calibration_data/preprocessed_320/frame_0138.npy
calibration_data/preprocessed_320/frame_0139.npy
calibration_data/preprocessed_320/frame_0140.npy
calibration_data/preprocessed_320/frame_0141.npy
calibration_data/preprocessed_320/frame_0142.npy
calibration_data/preprocessed_320/frame_0143.npy
calibration_data/preprocessed_320/frame_0144.npy
calibration_data/preprocessed_320/frame_0145.npy
calibration_data/preprocessed_320/frame_0146.npy
calibration_data/preprocessed_320/frame_0147.npy
calibration_data/preprocessed_320/frame_0148.npy
calibration_data/preprocessed_320/frame_0149.npy
calibration_data/preprocessed_320/frame_0150.npy
calibration_data/preprocessed_320/frame_0151.npy
calibration_data/preprocessed_320/frame_0152.npy
calibration_data/preprocessed_320/frame_0153.npy
calibration_data/preprocessed_320/frame_0154.npy
calibration_data/preprocessed_320/frame_0155.npy
calibration_data/preprocessed_320/frame_0156.npy
calibration_data/preprocessed_320/frame_0157.npy
calibration_data/preprocessed_320/frame_0158.npy
calibration_data/preprocessed_320/frame_0159.npy
calibration_data/preprocessed_320/frame_0160.npy
calibration_data/preprocessed_320/frame_0161.npy
calibration_data/preprocessed_320/frame_0162.npy
calibration_data/preprocessed_320/frame_0163.npy
calibration_data/preprocessed_320/frame_0164.npy
calibration_data/preprocessed_320/frame_0165.npy
calibration_data/preprocessed_320/frame_0166.npy
calibration_data/preprocessed_320/frame_0167.npy
calibration_data/preprocessed_320/frame_0168.npy
calibration_data/preprocessed_320/frame_0169.npy
calibration_data/preprocessed_320/frame_0170.npy
calibration_data/preprocessed_320/frame_0171.npy
calibration_data/preprocessed_320/frame_0172.npy
calibration_data/preprocessed_320/frame_0173.npy
calibration_data/preprocessed_320/frame_0174.npy
calibration_data/preprocessed_320/frame_0175.npy
calibration_data/preprocessed_320/frame_0176.npy
calibration_data/preprocessed_320/frame_0177.npy
calibration_data/preprocessed_320/frame_0178.npy
calibration_data/preprocessed_320/frame_0179.npy
calibration_data/preprocessed_320/frame_0180.npy
calibration_data/preprocessed_320/frame_0181.npy
calibration_data/preprocessed_320/frame_0182.npy
calibration_data/preprocessed_320/frame_0183.npy
calibration_data/preprocessed_320/frame_0184.npy
calibration_data/preprocessed_320/frame_0185.npy
calibration_data/preprocessed_320/frame_0186.npy
calibration_data/preprocessed_320/frame_0187.npy
calibration_data/preprocessed_320/frame_0188.npy
calibration_data/preprocessed_320/frame_0189.npy
calibration_data/preprocessed_320/frame_0190.npy
calibration_data/preprocessed_320/frame_0191.npy
calibration_data/preprocessed_320/frame_0192.npy
calibration_data/preprocessed_320/frame_0193.npy
calibration_data/preprocessed_320/frame_0194.npy
calibration_data/preprocessed_320/frame_0195.npy
calibration_data/preprocessed_320/frame_0196.npy
calibration_data/preprocessed_320/frame_0197.npy
calibration_data/preprocessed_320/frame_0198.npy
calibration_data/preprocessed_320/frame_0199.npy
